{% extends 'base.html.twig' %}

{% block title %}Agir Pour Sauver Les Enfants{% endblock %}

{% block body %}
  
            <div class="container-fluid  register">

                <div class="row justify-content-center mt-5 mb-3">
                         <div class="col-lg-6 col-md-8 col-12 text-center"> <h1 class="text-center card-title text-uppercase fs-4 fw-bold" style="color:#006390;" >AGIR POUR SAUVER LES ENFANTS QUI MÈNENT UNE VIE PRÉCAIRE DANS LE CONFLIT OUBLIÉ ET NÉGLIGÉ DU CAMEROUN</h1>  </div>
                         </div>

                <div class="row justify-content-center">
                          <div class="col-lg-6 col-md-12 text-center">
                                 <p class="text-justify">
                                      Yaoundé, Cameroun, le 3 décembre 2021 (IPS) – L’éducation est sous attaque au Cameroun. Alors que se déroule l’une des crises humanitaires les plus complexes au monde, la Directrice d’Éducation Sans Délai, Yasmine Sherif, et le Secrétaire général du Conseil Norvégien pour les Réfugiés, Jan Egeland, affirment que les enfants sont des pions pour des hommes adultes dans un conflit politique.

                                      Dans une interview exclusive avec IPS depuis le Cameroun, où Sherif et Egeland sont en visite pour quatre jours, ils ont parlé de l’impact de ce  conflit    en cours entre les groupes armés et les forces gouvernementales dans ce pays d’Afrique centrale.

                                      “La situation au Cameroun est dévastatrice, et l’éducation est attaquée. La semaine dernière encore, une attaque dans une école a tué quatre enfants et un enseignant. Une fille a coupés leurs doigts pour être allés à l’école. Le résultat est la peur. La peur d’aller à l’école”, explique Sherif.
                                      Egeland convient que les enfants sont victimes de violences qui n’ont rien à voir avec eux.

                                      “Les conflits entre adultes sur des questions politiques, culturelles et de gouvernance qui sont très réelles et très importantes à régler ne sont pas réglés par des négociations. Ils sont réglés par la violence armée à l’encontre des enfants et par des attaques menaçant leur vie sur leurs lieux d’apprentissage”, explique-t-il.

                                      Face aux menaces, au harcèlement, à la violence, aux enlèvements et à la mort visant les enseignants et les enfants scolarisés, deux écoles sur trois sont fermées dans les régions du Nord-Ouest et du Sud-Ouest.
                                </p>
                            </div>
                            <div class="col-lg-6 col-12 text-center my-2">
                                     <img src="{{ asset('uploads/card.jpg') }}" width="100%" height="auto" alt="">
                            </div>
                 <div class="row justify-content-center mt-3">
                            <div class="col-lg-6 col-12 text-center my-2"> <img src="{{ asset('uploads/5.jpg') }}" width="100%" height="auto" alt="">
                             <p class="text-muted">Fille écrivant sur un tableau noir à l’école de Souza Gare, dans la région du Littoral, au Cameroun. L’école accueille des enfants déplacés qui ont fui les violences dans les régions du Nord-Ouest et du Sud-Ouest. Crédit : ÉSD/Daniel Beloumou</p></div>
                            <div class="col-lg-6 col-md-12 text-center"> <p class="text-justify">Sherif, qui dirige ÉSD, le fonds mondial pour l’éducation dans les situations d’urgence et les crises prolongées, et Egeland ont exhorté toutes les parties concernées à mettre fin à la violence contre les enfants.

Des centaines de civils, dont des enfants, ont été tués depuis janvier 2020 dans les régions du Nord-Ouest et du Sud-Ouest. Les groupes armés et les forces gouvernementales sont en conflit violent, et les risques et les besoins des enfants touchés par le conflit ont augmenté.

“Cette situation fait partie des crises humanitaires les plus complexes du monde actuel. Les enfants et les jeunes doivent fuir leurs maisons et leurs écoles, sont menacés de violence et d’enlèvement, et sont contraints à des mariages précoces et recrutés dans des groupes armés,” dit Sherif.

“Nous appelons à un soutien urgent des donateurs pour répondre à cette crise oubliée. Nous demandons le respect des droits de l’homme et l’adhésion aux principes du droit humanitaire international et de la Déclaration sur la sécurité dans les écoles – et nous demandons aux partenaires de redoubler d’efforts pour que tous les enfants et adolescents puissent retrouver la sécurité, la protection et l’espoir qu’offrent des environnements d’apprentissage de qualité.”

Selon Mme. Sherif, neuf des dix régions du Cameroun continuent d’être touchées par l’une des trois crises humanitaires complexes, notamment la crise du Nord-Ouest et du Sud-Ouest, le conflit dans l’Extrême-Nord et la crise des réfugiés qui fuient le Cameroun.

Les enfants sont touchés de manière dévastatrice car plus d’un million d’entre eux ont besoin d’un soutien éducatif urgent. Bien qu’impressionné par leur résilience, leur courage et leur soif d’éducation, Sherif affirme que cela ne suffit pas à les maintenir à l’école.</p></div>
         
                 </div>
            </div>
    
{% endblock %}
