{% extends 'base.html.twig' %}

{% block title %}L’insalubrité de l’environnement{% endblock %}


{% block body %}
  
            <div class="container-fluid  register">

                <div class="row justify-content-center mt-5 mb-3">
                         <div class="col-lg-9 col-md-8 col-12 text-center"> <h1 class="text-center card-title text-uppercase fs-3 fw-bold" style="color:#006390;" >L’insalubrité de l’environnement provoque 12,6 millions de décès par an</h1> 
                         </div>
                </div>

                <div class="row justify-content-center">
                          <div class="col-lg-6 col-md-12 text-center">
                                 <p class="text-justify">
                                   Selon de nouvelles estimations de l’Organisation mondiale de la Santé (OMS), 12,6 millions de personnes sont décédées ces dernières années du fait d’avoir vécu ou travaillé dans un environnement insalubre – ceci représentait près d’un quart des décès dans le monde. Les facteurs de risque environnementaux, tels que la pollution de l’air, de l’eau et des sols, l’exposition aux substances chimiques, le changement climatique ou le rayonnement ultraviolet, contribuent à la survenue de plus de 100 maladies ou traumatismes.
La plupart des décès liés à des facteurs environnementaux sont dus à des maladies non transmissibles
La deuxième édition du rapport intitulé Prévenir la maladie grâce à un environnement sain: une estimation de la charge de morbidité imputable à l'environnement, montre que depuis la publication de la première édition, il y a dix ans, 8,2 millions de décès consécutifs aux maladies non transmissibles (MNT) sont attribuables à la pollution de l’air (y compris l’exposition au tabagisme passif).

Les accidents vasculaires cérébraux, les cardiopathies, les cancers et les affections respiratoires chroniques représentent aujourd’hui près des deux tiers des décès liés à des causes environnementales.

On constate, parallèlement, une baisse du nombre de décès entraînés par des maladies infectieuses, telles que les maladies diarrhéiques et le paludisme, souvent liées au manque d’eau, au défaut d’assainissement et à la mauvaise gestion des déchets. Celle-ci s’explique principalement par une amélioration de l’accès à l’eau potable et aux moyens d’assainissement, ainsi que par un meilleur accès à la vaccination, aux moustiquaires imprégnées d’insecticide et aux médicaments essentiels.
                                </p>
                            </div>
                            <div class="col-lg-6 col-12 text-center my-2">
                                   	<img class=" img-fluid" width="100%" height="auto" src="{{ asset('uploads/6.jpg') }}" alt="">
                            </div>

                <div class="row justify-content-center my-3">
                             <div class="col-lg-6 col-12 text-center my-2">
                                   	<img class=" img-fluid " width="100%" height="auto" src="{{ asset('uploads/insalubrite.jpg') }}" alt="">
                            </div>
                          <div class="col-lg-6 col-md-12 text-center">
                                 <p class="text-justify">
                                    C’est dans le contexte des crises (de celle de Suez à celle de Cuba) que naît le rôle international des pays du Tiers Monde. Mais il prend tout à fait son essor à l’ère de la détente.
L’affaiblissement du rôle moral de l’ONU. L’affirmation des pays nouvellement indépendants se fait par l’intermédiaire de l’entrée à l’Organisation des Nations unies qui voit s’accroître le nombre de ses membres et s’alourdir ses problèmes. En 1973, les Nations unies comprennent 135 membres. Les seuls États qui n’en font pas alors partie sont la Suisse, les deux Corée, les deux Viêt-nam, Formose, la Rhodésie du Sud et le Bangladesh. Sur ce total, 25 États se rattachent au camp occidental, 12 au camp oriental, la plupart des autres se disent et se veulent non engagés Les pays du Tiers Monde sont donc majoritaires et ils disposent même de la majorité des deux tiers nécessaire pour faire passer les résolutions au sein de l’Assemblée générale. L’ONU devient ainsi la caisse de résonance du Tiers Monde et en subit aussi les contre-coups. L’héritage de la décolonisation est lourd. L’ONU est engagée dans une guerre au Congo, sans avoir les ressources nécessaires en troupes et en argent. Elle est menacée d’une faillite financière énorme. Le secrétaire général des Nations unies, Dag Hammarskjôld, qui considère son rôle comme celui d’un arbitre, entre en conflit ouvert avec plusieurs chefs de gouvernement. Au début de son mandat (1961-1971), le Birman U Thant, qui représente précisément le monde afro-asiatique, réussit à dégager les Nations unies du Congo et à affirmer à plusieurs reprises l’indépendance de l’Organisation. Mais la période voit aussi l’affaiblissement des Nations unies. Sous l’influence du groupe afro-asiatique, l’ONU passe son temps à protester contre le régime d’apartheid en République sud-africaine, le régime raciste en Rhodésie du Sud et le colonialisme sous toutes ses formes. Plusieurs dizaines de résolutions très fermes se révèlent sans portée réelle. Le secrétaire général subit l’érosion du rôle moral des Nations unies.
                                </p>
                            </div>
                          
            
            </div>
    
{% endblock %}
