{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="container-fluid  my-4">
       <h1 class="text-center mt-4">Mentions Légales </h1>
     
          <div class="row justify-content-center">
          <div class="col-6 col-md-9 col-12 text-justify">
           
         
          
             <p class="my-2"> Ce site est la propriété de L’association Saint-Thomas Diaspora (A.S.T.D) dont le domaine d'activité est l'action sociale sans hébergement , et selon la loi 1901 à caractère humanitaire à but non lucratif reconnue officiellement en France sous le numéro W771000994 et publiée au Journal officiel de la République Française le 28 juillet 2018.</p>
             <p class="my-2">Le siège social est situé en France : SAINT ELOI 1 PL JOACHIM DU BELLAY 45300 PITHIVIERS</p>
             <p class="my-2">Tél Fixe : (+33) 2 76 76 40 73</p>
             <p class="my-2">Tél Mobile : (+33) 7 78 40 66 09</p>
             <p class="my-2">E-mail : infoastd@as-st-thomas-diaspora.org</p>
             <p class="my-2">SIRET : 8991 5771 300 012| APE : 8899B</p>
       

          
          </div>
   
    
    
    
         </div>
    
    </div>
    

    
{% endblock %}