{% extends 'base.html.twig' %}

{% block title %}Politique De Confidentialite{% endblock %}

{% block body %}
    <div class="container-fluid  my-4">
       <h1 class="text-center mt-4">Politique De Confidentialite </h1>
     
          <div class="row justify-content-center">
          <div class="col-6 col-md-9 col-12 text-justify">
           
            
             <p class="my-3">  Politique de confidentialité
COLLECTES DES DONNEES

L’Association M.E.D n’enregistre pas d’informations personnelles permettant l’identification, à l’exception des formulaires que l’utilisateur est libre de remplir.

Ces informations ne seront pas utilisées sans votre accord, nous les utiliserons seulement pour délivrer des attestations de stages, des reçus, des fiches d’inscriptions, vous adresser des courriers, des brochures ou vous contacter.

Les informations recueillies sur les sites bénéficient de la protection de la loi Informatique et Libertés n° 78-17 du 06 janvier 1978.

Elles bénéficient d’un droit d’accès, de rectification, d’opposition à communication et de suppression sur simple demande à l’adresse suivante :

212 rue de Barbarra 77310 Saint – Fargeau -Ponthierry – France

Tél : (+33) 6 18 12 15 04

E-mail : associationmed01@gmail.com ou amed@associationmed.org

Djagblé, à 500m du CEG de Djagblé 21 BP : 160 Lomé – Togo

Tel :(+228) 70 66 38 19

E-mail : amed_togo@yahoo.fr ou amed@associationmed.org </p>
             <p class="my-3">EXACTITUDE DE L’INFORMATION

Nous mettons tous nos moyens en œuvre afin d’offrir aux internautes un contenu exact. Malgré tous les soins apportés à la réalisation de ce site et à son actualisation régulière, des erreurs peuvent s’être glissées dans les informations et/ou documents présentés.

Si vous en constatez n’hésitez pas à nous le faire savoir.</p>
             <p class="my-3">LES INFORMATIONS PERSONNELLES

Les informations personnelles récoltées lors de votre inscription sur notre site, c’est à dire vos coordonnées et votre nom seront sauvegardés afin de communiquer avec vous.

Ces informations sont conservées de manière isolé et sécurisé.

L’Association M.E.D ne partage, ne vend ou ne loue vos informations personnelles ou des contacts à des tiers.</p>
           




         

          
          </div>
   
    
    
    
         </div>
    
    </div>
    

    
{% endblock %}