{% extends 'base_admin.html.twig' %}

{% block title %}Modifier une image  {% endblock %}

{% block body %} 

<div class="row">
       <h1>Télécharger une nouvelle image  </h1>
    <div  class="col-8 mx-auto">
    
      {{ form(form) }} 
      
     </div>
</div>


{% endblock %} 