{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}

      
          
       <div class="container-fluid justify-content-center">
             <div class="row justify-content-center mt-5 mb-3">
                    {% include 'include/_flashes.html.twig' %}
                     {{ form_start(form, {'attr': {'class': 'col-lg-4 col-md-6 col-sm-9 col-12 register py-2'}}) }}
                          <h1 class=" fs-3 text-center"> Contactez-nous </h1>
                     {{ form_widget(form) }}
                      <button  type="submit" class="btn col-12 fs-5 py-1 " id="btn-banner" formnovalidate>Envoyer</button>
                     {{ form_end(form) }}        
             </div>     
        </div>  
{% endblock %}
